@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: gray;
}

div.Debug {
  position: fixed;
  top: 10px;
  right: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 8px;
  padding: 0.5em;
}

div.Debug > * {
  margin-bottom: 10px;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  border-radius: 4px;
  box-shadow: 0 0 20px red;
  background-color: black;
}
